@model HRMS.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Login - HRMS admin template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/material.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/line-awesome.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>
<body class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="account-content">
            <div class="container">

                <!-- Account Logo -->
                <div class="account-logo">
                    <a href="admin-dashboard.html"><img src="~/assets/img/logo2.png" alt="Dreamguy's Technologies"></a>
                </div>
                <!-- /Account Logo -->

                        <!-- Account Form -->
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <div class="account-box">
                                <div class="account-wrapper">
                                    <h3 class="account-title">Login</h3>
                                    <p class="account-subtitle">Access to our dashboard</p>

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                        <div class="position-relative">
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password" })
                                            <span class="fa fa-eye-slash" id="toggle-password"></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-primary account-btn">Login</button>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- /Account Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Theme Settings JS -->
    <script src="~/assets/js/layout.js"></script>
    <script src="~/assets/js/theme-settings.js"></script>
    <script src="~/assets/js/greedynav.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/app.js"></script>

</body>
</html>
