@model HRMS.ViewModels.AddExperienceViewModel

@{
    ViewBag.Title = "View Experience";
    Layout = "~/Views/Shared/View.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- jQuery and jQuery UI JavaScript -->
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>$(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd', // Set your desired date format here
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0", // Adjust the year range as needed
            onSelect: function (dateText, inst) {
                $(this).focus(); // Ensures the input field retains focus after date selection
            }
        });
    });
 function searchEmployees() {
    var employeeId = document.getElementById('employeeId').value;
     var employeeName = document.getElementById('EducationName').value;</script>

<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Employee Management</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Experience/ViewExperience">Experience</a></li>
                    <li class="breadcrumb-item active">View All Experience</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_Experience"><i class="fa fa-plus"></i> Add Experience</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <div class="text-center mt-4">
        @using (Html.BeginForm("ViewExperience", "Experience", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group mx-sm-3 mb-2">
                <label for="searchBy" class="mr-2">Search By:</label>
                <div class="form-check form-check-inline">
                    @Html.RadioButton("searchBy", "ByEmployeeID", true, new { id = "searchByEmployeeID", @class = "form-check-input" })
                    <label class="form-check-label" for="searchByEmployeeID">Employee ID</label>
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButton("searchBy", "ByCompanyName", false, new { id = "ByCompanyName", @class = "form-check-input" })
                    <label class="form-check-label" for="ByCompanyName">Company Name</label>
                </div>
            </div>
            <div class="form-group mb-2">
                @Html.TextBox("searchValue", null, new { @class = "form-control", placeholder = "Enter search term" })
                <br />
                <button type="submit" class="btn btn-primary ml-2">Search</button>
            </div>
        }
    </div>
    <br />
    <!-- /Grid View Container -->
    <!-- Employee Table -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive list-view" id="employeeList">
                <table class="table table-striped custom-table datatable">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Company Name</th>
                            <th>Position</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th class="text-end no-sort">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Experience.Any())
                        {
                            foreach (var Education in Model.Experience)
                            {
                                <tr>
                                    <td>@Education.Emp_Id</td>
                                    <td>@Education.Company_name</td>
                                    <td>@Education.Position</td>
                                    <td>@Education.From_Date.ToShortDateString()</td>
                                    <td>@Education.To_Date.ToShortDateString()</td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    @Html.ActionLink("Edit Experience", "EditExperience", new { id = Education.Emp_Id }, new { @class = "dropdown-item" })
                                                </li>
                                                <li>
                                                    @using (Html.BeginForm("DeleteExperience", "Experience", new { id = Education.Exp_id }, FormMethod.Post, new { onsubmit = "return confirm('Are you sure you want to delete this Education?');" }))
                                                    {
                                                        <button type="submit" class="dropdown-item">Delete</button>
                                                    }
                                                </li>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">No Educations found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Add Education Modal -->
    <div id="add_Experience" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Education</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Employee <span class="text-danger">*</span></label>
                                    @Html.DropDownListFor(model => model.AddExperience.Emp_Id, new SelectList(Model.Employees, "Emp_Id", "First_Name"), "Select Employee", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AddExperience.Emp_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company Name <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.AddExperience.Company_name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AddExperience.Company_name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Position <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.AddExperience.Position, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AddExperience.Position, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>From Date <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.AddExperience.From_Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                                    @Html.ValidationMessageFor(model => model.AddExperience.From_Date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>To Date <span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(model => model.AddExperience.To_Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                                    @Html.ValidationMessageFor(model => model.AddExperience.To_Date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
